<h1>Workout Log</h1>

<%= render 'new' %>


<table>
  <tr>
    <th>Tempo</th>
    <th>Nome</th>
    <th>Data</th>
  </tr>

  <% @events.each do |event| %>
  <tr>
      <td><%= event.period %></td>
      <td><%= event.title %></td>
      <td><%= event.morning %></td>
      <td><%= link_to 'Deletar', event,method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>



  <h3><%= @events.sum('period') %> hous of exercices</h3>

